/**menu**/
.menu{
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.my-sm-0{
   background-color: #000;
   
}
.text-info{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: #000;
}

/**footer**/
.footer{
    margin-top: 2%;
  }
  .mapa iframe{
     width: auto;
     height: 15rem;
  }
  .sociais {
     font-size: 1.7rem;
  }